.status-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #656565;
  padding: 10px 20px;
  left: 0px;
  top: 0px;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 7px;
}
